.Portfolio{
    width: 100%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .card-img {
     object-fit: cover;
     align-items: center;
 }
 .carousel-item>img{
      object-fit: scale-down;
    
 }
 .carousel-inner{
    margin: auto;
 }
     @media only screen and (max-width: 896px) and (min-width: 360px) {
  .Portfolio{
    margin-top: -150%;
  }
  .carousel-item{
     margin-top: 0;
  }
  .carousel-inner{
     margin:auto;
  }
      
     }