.intro {
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
    width: 100%;
  }
  .i-name {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  
  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 1rem;
  }
  .i-name > :nth-child(4) {
    color: var(--gray);
    margin-top: 0.8rem;
    font-weight: 100;
    width: 40rem;
    font-size: 1rem;
  }
  
  .i-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  
  .i-icons > * {
    transform: scale(0.5);
    text-decoration: none;
    text-align: center;
  }
  .i-icons > *:hover {
    cursor: pointer;
  }
  .icon-text{
    gap: 1rem;
    font-size: 26px;
    color: var(--orange);
  }
  
  .i-right > :nth-child(1) {
      border-radius: 50%;
      transform: scale(0.6);
        height: 650px;
    width: 650px;
     
  }.i-right {
    margin-top: -9rem;
    position: relative;
  
    }
    
  
  @media only screen and (max-width: 896px) and (min-width: 360px) {
    .intro {
      flex-direction:column;
     align-items: center;
    }
    .i-name > :nth-child(1) {
   
    font-size: 2.4rem;
   
  }
  .i-name > :nth-child(2) {
   
    font-size: 2.4em;
  }
  .i-name > :nth-child(3) {
    
    font-size: 0.95rem;
     text-align: justify;
     width: auto;
  }
  .i-name > :nth-child(4) {
    font-size: 1rem;
    text-align: justify;
    width: fit-content;
  }
  
  .i-icons > * {
    transform: scale(0.4);
  }
  .i-right {
     transform: scale(0.8);
    flex-direction:column;
    align-items: center;
  /* margin-top: -35%;
  margin-left: -30%; */
  
  }
  .i-right > :nth-child(1) {
      border-radius: 50%;
      transform: scale(0.5);
  
  }
  .i-right>img{
    height: "300px";
     width: "300px" ;
  
    
  }
  
  }